* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.app-container {
  min-height: 100vh;
  background-color: gray;
}

.task-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  height: 600px;
  width: 400px;
}

.title {
  font-size: 30px;
  padding: 12px;
  width: 100%;
  background-color: blueviolet;
}

.fake-form-div {
  display: flex;
  width: 100%;
  padding: 10px;
  gap: 5px;
}

.task-input {
  padding-left: 10px;
  padding: 5px;
  font-size: 18px;
}

.add-task-btn {
  border: none;
  background-color: gray;
}

.add-task-btn:hover {
  border: 2px solid blueviolet;
  color: white;
}

.task-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#list-item {
  display: flex;
  padding: 8px;
  align-items: center;
  width: auto;
  background-color: gray;
  margin: 5px;
}

#tarea-content {
  margin: 0 !important;
  font-size: 18px;
  padding-left: 2px;
  font-weight: bold;
}

#spansito {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 5px;
  #edit-input {
    height: auto;
  }
}

#delete-btn {
  border: none;
  font-size: 15px;
  background-color: white;
  padding: 4px;
}

#edit-btn {
  border: none;
  font-size: 15px;
  background-color: white;
  padding: 4px;
}

#delete-btn:hover {
  color: red;
}

#edit-btn:hover {
  color: green;
}

#edit-input {
  padding: 3px;
  padding-left: 5px;
}

#cancel-btn {
  border: none;
  font-size: 15px;
  background-color: white;
  padding: 4px;
}

#cancel-btn:hover {
  color: red;
}

#finish-btn:hover {
  color: green;
}

#finish-btn {
  border: none;
  font-size: 15px;
  background-color: white;
  padding: 4px;
}

@media (max-width: 576px) {
  .love-section {
    margin: 5px;
  }

  #list-item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #spansito {
    display: flex;
    flex-direction: column;
  }

  #tarea-content {
    margin: 5px !important;
  }

  .task-container {
    width: 100%;
  }
}
